<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study2gether</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/landingpage.css">
</head>
<body>
    <div class="page">
    <nav id="nav-bar">
        <div class="menu-img">
            <img src="images/logo.png" alt="Imagem da logo: Study2gether">
        </div>

        <div id="divBusca">
            <input type="text" id="txtBusca" placeholder="Pesquisar..."/>
            <img src="images/search.png" id="btnBusca" alt="Buscar"/>
        </div>

        <div id="btnLogin">
            <button onclick="">Cadastre-se</button>
            <button onclick="">Login</button>
        </div>
    </nav>
    <main>
        <div class="temas">
        <select id="eixos" name="eixos">
            <option value="">Selecione um Eixo</option>
            <option value="Eixo1">Eixo 1</option>
            <option value="Eixo2">Eixo 2</option>
            <option value="Eixo3">Eixo 3</option>
            <option value="Eixo4">Eixo 4</option>
            <option value="Eixo5">Eixo 5</option>
        </select>

         <select id="microfundamentos" name="microfundamentos">
            <option value="">Selecione um Microfundamento</option>
            <option value="Microfundamento1">Microfundamento 1</option>
            <option value="Microfundamento2">Microfundamento 2</option>
            <option value="Microfundamento3">Microfundamento 3</option>
            <option value="Microfundamento4">Microfundamento 4</option>
            <option value="Microfundamento5">Microfundamento 5</option>
        </select>

        <select id="categorias" name="categorias">
            <option value="">Selecione uma Categoria</option>
            <option value="Categoria1">Categoria 1</option>
            <option value="Categoria2">Categoria 2</option>
            <option value="Categoria3">Categoria 3</option>
            <option value="Categoria4">Categoria 4</option>
            <option value="Categoria5">Categoria 5</option>
        </select>
        </div>

        <div container class="preenchimento">
            <img src="images/home.jpg" alt="Imagem de uma pessoa com fone de ouvido e computador em uma mesa de estudos.">
            <div class="texto">
                <h1>Nosso principal objetivo:</h1>
                <p>Resolver o grande problema de comunicação e interação dos estudantes, permitindo o compartilhamento de informações sobre disciplinas, tecnologias e conhecimentos adquiridos.</p>
            </div>
        </div>
    </main>

    <footer>
        <button type="submit">Interações</button>
        <button type="submit">Perguntas</button>
        <button type="submit">Indicações</button>
    </footer>
    </div>
</body>
</html>