@model Study2gether.Models.User

@{
    ViewData["Title"] = "Editar Perfil";
}

<h1>Editar Perfil</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarPerfil">

            <div class="form-group">
                <label asp-for="imageLink" class="text-danger"></label>
                <input asp-for="imageLink" class="text-danger" />
                <span asp-validation-for="imageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="text-danger"></label>
                <input asp-for="name" class="text-danger" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="socialMedia" class="control-label"></label>
                <input asp-for="socialMedia" class="form-control" />
                <span asp-validation-for="socialMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="text-danger"></label>
                <input asp-for="email" class="text-danger" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="text-danger"></label>
                <input asp-for="password" class="text-danger" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>


            <div class="form-group">
                <a class="btn btn-info" asp-controller="Home" asp-action="Histórico">Cancelar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}