@model Study2gether.Models.User

@{
    ViewData["Title"] = "Editar Perfil";
}

<link rel="stylesheet" href="../../css/editarPerfil.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="completePage-editarPerfil">
    <h1 style="color: white"> Editar Perfil</h1>
    <hr style="color: white"/>

    <div class="editarPerfil">
        <form asp-action="EditarPerfil">
            
                <img id="fotoPerfil" src="@Model.imageLink" alt="Foto de Perfil">
            <div class="form-group">
                <label style="color: white" asp-for="name">Inclua a URL da sua foto com extensão png! </label><br>
                <input asp-for="imageLink" type="url" placeholder="Inclua a URL da sua foto em png!" />
            </div>
            <div id="container-c">
                <div class="form-group">
                    <label style="color: white" asp-for="name">Nome do Perfil </label>
                    <input style="font-size: 12px" asp-for="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label style="color: white" asp-for="description" class="control-label">Sobre Você </label>
                    <textarea asp-for="description" class="description-socialMedia"></textarea>
              
                </div>
                <div class="form-group">
                    <label style="color: white" asp-for="socialMedia" class="control-label">Redes Sociais </label>
                    <textarea asp-for="socialMedia" class="description-socialMedia"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" value="Salvar Perfil" class="btn btn-primary">Salvar Perfil</button>
                    <a class="btn btn-info" asp-controller="Users" asp-action="Historico">Cancelar</a>

                    <!-- Modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm">Excluir Perfil</button>

                    <div class="modal fade" id="confirm" role="dialog">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h4 class="modal-title" style="color: red">Olá @Model.name,</h4>
                                    <hr>
                                    <h5> Você realmente gostaria de apagar todos os seus dados?</h5>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" asp-controller="Users" id="delete" asp-action="DeleteUser">Excluir Perfil</a>
                                    <button type="button" data-dismiss="modal" class="btn btn-info">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




