@model Study2gether.Models.User

@{
    ViewData["Title"] = "Editar Perfil";
}

<link rel="stylesheet" href="../../css/editarPerfil.css">


<h1>Editar Perfil</h1>
<hr />

<div class="editarPerfil">
    <form asp-action="EditarPerfil">
        <div class="form-group">
            <img id="fotoPerfil" src="@Model.imageLink" alt="Foto de Perfil">
            <input asp-for="imageLink" type="url" placeholder="Inclua a URL da sua foto!" />
        </div>
        <div id="container-c">
            <div class="form-group">
                <label asp-for="name">Nome </label>
                <input asp-for="name" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Sobre Você </label>
                <textarea asp-for="description" class="form-control"></textarea>
              
            </div>
            <div class="form-group">
                <label asp-for="socialMedia" class="control-label">Redes Sociais </label>
                <textarea asp-for="socialMedia" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar Perfil" class="btn btn-primary" />
                <a class="btn btn-info" asp-controller="Users" asp-action="Historico">Cancelar</a>
                <a class="btn btn-danger" asp-controller="Users" onclick="return confirm('Você deseja apagar sua conta DEFINITIVAMENTE?')" asp-action="DeleteUser">Excluir Perfil</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}