@model Study2gether.Models.User

@{
    ViewData["Title"] = "Editar Perfil";
}

<link rel="stylesheet" href="../../css/editarPerfil.css">


<h1>Editar Perfil</h1>

<hr />

<div class="editarPerfil">
    <h6 class="text-danger">@ViewBag.Message</h6>
    <form asp-action="EditarPerfil">
        <div id="container-c">
            <div class="form-group">
                <img id="fotoPerfil" src="@Model.imageLink" alt="Foto de Perfil">
                <input asp-for="imageLink" type="url" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="text-danger">Nome do Perfil</label>
                <input asp-for="name" class="text-danger" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">Sobre Você</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description"></span>
            </div>
            <div class="form-group">
                <label asp-for="socialMedia" class="control-label">Redes Sociais</label>
                <input asp-for="socialMedia" class="form-control" />
                <span asp-validation-for="socialMedia"></span>
            </div>
        </div>
        <div id="container-d">
            <div class="form-group">
                <label asp-for="password">Senha Atual</label>
                <input type="password" name="previousPassword" value="" />
                <span asp-validation-for="password"></span>
            </div>
            <div class="form-group">
                <label>Nova Senha</label>
                <input type="password" name="newPassword1" value="" />
                <!--span-- asp-validation-for="password"></!--span-->
            </div>
            <div class="form-group">
                <label asp-for="password" class="confirmarNovaSenha">Confirmar Nova Senha</label>
                <input type="password" name="newPassword2" value="" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-controller="Users" asp-action="Historico">Cancelar</a>
                <input type="submit" value="Salvar Perfil" class="btn btn-primary" />
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}