@model Study2gether.Models.User

@{
    ViewData["Title"] = "Histórico";
}

<link rel="stylesheet" href="../../css/historico.css">


<div class="perfilHistorico">          
    <table aria-hidden="true" class="fs-exclude ic-avatar">
        <tr>
            @{
                if (string.IsNullOrEmpty(Model.imageLink))
                {
                    <td><img id="fotoPerfil" src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png" alt="Foto de Perfil"></td>
                }
                else
                {
                    <td><img id="fotoPerfil" src="@Model.imageLink" alt="Foto de Perfil"></td>
                }
            }
            <td><p>@Model.name</p></td>
        </tr>
    </table>
     <div id="container-a">
        <form asp-action="Historico">
            <div class="form-group" id="sobreVoce-redesSociais">
                <label asp-for="description" class="control-label">Sobre Você</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description"></span>
            </div>
            <div class="form-group" id="sobreVoce-redesSociais">
                <label asp-for="socialMedia" class="control-label">Redes Sociais</label>
                <input asp-for="socialMedia" class="form-control" />
                <span asp-validation-for="socialMedia"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-controller="Users" asp-action="EditarPerfil">Editar Perfil</a>
                <a class="btn btn-info" asp-controller="Home" asp-action="Index">Sair</a>
            </div>
        </form>
    </div>
    <div id="container-b">
        <div id="historicoTitle">
            <p>Histórico</p>
        </div>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Perguntas')" id="defaultOpen">PERGUNTAS</button>
            <button class="tablinks" onclick="openCity(event, 'Respostas')">RESPOSTAS</button>
            <button class="tablinks" onclick="openCity(event, 'Favoritos')">FAVORITOS</button>
        </div>
        <div id="Perguntas" class="tabcontent">
            <h6>Ask Title</h6>
            <p>Can I do a Cascade on C#?</p>
        </div>
        <div id="Respostas" class="tabcontent">
            <h6>Answer Title</h6>
            <p>Yes, you can!</p>
        </div>
        <div id="Favoritos" class="tabcontent">
            <h6>Favority Subject Title Title</h6>
            <p>The best way to do something is to plan before.</p>
        </div>
    </div>  
    <script src="../../js/historico.js"></script>  
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


