@model Study2gether.Models.User

@{
    ViewData["Title"] = "Histórico";
}

<link rel="stylesheet" href="../../css/historico.css">


<div class="perfilHistorico">          
    <table aria-hidden="true" class="fs-exclude ic-avatar">
        <tr>
            <td><img id="fotoPerfil" src="https://cdn.inst-fs-iad-prod.inscloudgate.net/6a83047d-f8ec-4036-aca7-c348772d7c77?token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCIsImtpZCI6ImNkbiJ9.eyJyZXNvdXJjZSI6Ii82YTgzMDQ3ZC1mOGVjLTQwMzYtYWNhNy1jMzQ4NzcyZDdjNzciLCJ0ZW5hbnQiOiJjYW52YXMiLCJ1c2VyX2lkIjoiMTE3NDgwMDAwMDAwMjE3NTQyIiwiaWF0IjoxNjgyODQxNjQ2LCJleHAiOjE2ODI5MjgwNDZ9.X7T5CBuhoq7PXxtWpPUBI3G0imNj2FddveqaT_TtK3NbEJHywFevBJNu7rVo22R5V-TfD_2RVMPO2JsPipS5Pg&content_type=image%2Fpng" alt="Odair Cordeiro Marra"></td>
            <td><a id="nomePerfil" class="nomePefil" href=""><p>Odair</p></a></td>
        </tr>
    </table>
     <div id="container-a">
        <form asp-action="Historico">
            <div class="form-group" id="sobreVoce-redesSociais">
                <label asp-for="description" class="control-label">Sobre Você</label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group" id="sobreVoce-redesSociais">
                <label asp-for="socialMedia" class="control-label">Redes Sociais</label>
                <input asp-for="socialMedia" class="form-control" />
                <span asp-validation-for="socialMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-controller="Users" asp-action="EditarPerfil">Editar Perfil</a>
                <a class="btn btn-info" asp-controller="Home" asp-action="Index">Sair</a>
            </div>
        </form>
    </div>
    <div id="container-b">
        <div id="historicoTitle"
            <p>Histórico</p>
        </div>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Perguntas')" id="defaultOpen">PERGUNTAS</button>
            <button class="tablinks" onclick="openCity(event, 'Respostas')">RESPOSTAS</button>
            <button class="tablinks" onclick="openCity(event, 'Favoritos')">FAVORITOS</button>
        </div>
        <div id="Perguntas" class="tabcontent">
            <h6>Ask Title</h6>
            <p>Can I do a Cascade on C#?</p>
        </div>
        <div id="Respostas" class="tabcontent">
            <h6>Answer Title</h6>
            <p>Yes, you can!</p>
        </div>
        <div id="Favoritos" class="tabcontent">
            <h6>Favority Subject Title Title</h6>
            <p>The best way to do something is to plan before.</p>
        </div>
    </div>  
    <script src="../../js/historico.js"></script>  
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


