@model Study2gether.Models.ForgotPassword

@{
    ViewData["Title"] = "Recuperar senha";
}

<h1 class="text-center" style="color:white">Recuperar senha</h1>

<hr />
<div class="row text-center justify-content-center">
    <div class="col-md-4">
        <form asp-action="RecuperarSenha">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-left">
                <label asp-for="email" class="control-label" style="color:white"></label>
                <input asp-for="email" class="form-control" type="email" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Recuperar senha" class="btn btn-primary" />
                <a class="btn btn-info" asp-controller="Home" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="changePasswordConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: green">Alteração de senha:</h5>

            </div>
            <div class="modal-body">
                @TempData["success"]
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" asp-controller="Home" asp-action="Index">Fechar</a>
            </div>
        </div>
    </div>
</div>

@if (TempData["success"] != null)
{
<script>
    $('#changePasswordConfirmation').modal('show');
</script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

