
input {
    display: block;
    box-sizing: border-box;
    height: calc(1.5em + 0.75rem + 2px);
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400; 
}


.completePage-alterarSenha {
    display: block;
    align-content: center;
    width: 100%;
    max-width: 500px;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 14px;
}


.completePage-editarPerfil {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 14px;
}


.description-socialMedia {
    width: 100%;
    min-height: 120px;
    max-height: 300px;
    min-width: 250px;
    font-size: 14px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.5rem;
}

#fotoPerfil {
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #808080;
    width: 80px;
    height: 80px;
}


@media screen and (max-width: 279px) and (min-width: 550px) {
    #modal fade show in {
        display: block;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }

    input {
        display: block;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }

    .completePage-editarPerfil {
        display: block;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
       
    }
}

   