/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 2.5rem;
}

li.selected {
    background-color: #E68A00;
    border: none;
}

.bg-answers {
    background-color: #fff;
}

.bg-answers .card-header {
    background-color: #d9f6f2;
}

.bg-answers .card-footer {
    background-color: #d9f6f2;
}



/*responsividade da Index e header.*/

.form-select {
    width: 140px;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    height: 40px;
    border-radius: 3rem;
    cursor: pointer;
}





@media screen and (min-width: 250px) and (max-width: 550px) {
    .col {
        display: flex;
        position: center;
        align-items: center;
        
    }
}


@media screen and (max-width: 299px) {
    .form-row {
        margin-left: 10%;
    }

    .btnLogin {
        margin-top: 3px;
        margin-left: 10%;
    }

    .cadastroLogin {
        align-items: center;
        display: flex;
    }

}

@media screen and (max-width: 300px) {
    .form-row {
        display: flex;
        margin-left: 30%;
    }
}


    @media screen and (min-width: 300px) and (max-width: 550px) {
        .form-row {
            display: flex;
            margin-left: 30%;
        }

        .btnLogin {
            margin-top: 3px;
            margin-left: 25%;
            align-items: center;
            display: flex;
            margin-bottom: 10px;
        }

        .cadastroLogin {
            align-items: center;
            display: flex;
        }
    }


    @media screen and (min-width: 551px) and (max-width: 577px) {
        .form-row {
            display: flex;
            margin-left: 30%;
        }

        .btnLogin {
            margin-top: 3px;
            margin-left: 30%;
            align-items: center;
            display: flex;
            margin-bottom: 10px;
        }
    }


    @media screen and (min-width: 852px) {
        .btnLogin {
            align-items: center;
            display: flex;
        }
    }

    #menuPosts {
        margin-top: 10px;
        width: 130px;
        height: 70px;
        align-content: center;
        text-align: center;
        padding: 18px;
    }


    #listMenuPosts {
        align-items: center;
        width: 100%;
        text-align: center;
        margin-left: -5%;
    }

    .preenchimento col-12 {
        margin-left: 5%;
        margin-right: 10%;
        margin-top: 10%;
    }